# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.pid
*.pid.lock

# System Files
.DS_Store
Thumbs.db

# Dependency directories
node_modules/
bower_components/

# Build files
dist/
build/
.env

# IDE Directories and Settings
.vscode/
.idea/
*.swp

# Python-specific
__pycache__/
*.py[cod]
venv/

# Blockchain-specific
*.key
*.pem
*.json-wallet

# OS-specific
Desktop.ini
*.lnk

